      <%= simple_form_for(@post) do |f| %>
        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

        <div class="container mt-4">
          <div class="row justify-center">
            <div class="card text-dark bg-light p-0">
              <div class="card-header">New Post</div>
              <div class='card-body'>
                <div class="form-inputs">
                  <%= f.input :title, class: 'mt-2' %>
                  <%= f.input :body, class: 'mt-2'%>
                </div>
              </div>  
              <div class="card-footer">
                <div class="form-actions">
                  <%= f.button :submit, class: 'btn-outline-primary px-3' %>
                  <%= f.button :button, "Cancel", type: "reset", class: "btn-outline-secondary px-3 mx-2" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>