<% @posts.each do |post| %>
<div class="container mt-4">
  <div class="row justify-center">
    <div class="card text-dark bg-light p-0">
      <div class="card-header">Posted By#</div>
      <div class="card-body">
        <h5 class="card-title"><%= post.title %></h5>
        <p class="card-text"><%= post.body %></p>
      </div>
      <div class="card-footer">
        <%= link_to 'Show', post %>
        <%= link_to 'Edit', edit_post_path(post) %>
        <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
        <%= link_to 'New Post', new_post_path %>
      </div>
    </div>
  </div>
</div>
<% end %>